body {
    font-family: sans-serif;
    background: #fafafa;
    padding: 20px;
}

.title {
    font-size: 28px;
    margin-bottom: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item {
    text-decoration: none;
    color: black;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

.item:hover {
    opacity: 0.6;
}

.date {
    font-size: 14px;
    color: #666;
}

.emoji {
    font-size: 20px;
}

.header {
    display: flex;
    align-items: center;
    gap: 12px; /* タイトルと日付の間 */
}

.header p {
    font-size: 14px;
    color: gray;
}

.diary-body {
    white-space: pre-wrap;
    line-height: 1.8;
}